{"openapi":"3.1.0","info":{"title":"Query Engine API","description":"Query Engine API documentation","version":"1.0.0"},"externalDocs":{"description":"Query Engine API Wiki Documentation","url":"https://wiki.daumkakao.com/pages/viewpage.action?pageId=810907468"},"servers":[{"url":"https://data-query-cbt.kr-central-2.kakaocloud.com","description":"data-query-cbt.kr-central-2.kakaocloud.com"},{"url":"https://data-query.undercloudstage.io:8111","description":"data-query.undercloudstage.io"},{"url":"http://localhost:8111","description":"localhost"}],"paths":{"/v1/saved-query/{query-id}":{"get":{"tags":["saved-query-controller"],"summary":"저장 쿼리 조회","operationId":"getSavedQuery","parameters":[{"name":"query-id","in":"path","description":"queryId","required":true,"schema":{"type":"string"}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SavedQueryRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"쿼리 정보를 찾을 수 없음"},"406":{"description":"Not Acceptable"}}},"put":{"tags":["saved-query-controller"],"summary":"저장 쿼리 수정","operationId":"updateSavedQuery","parameters":[{"name":"query-id","in":"path","description":"queryId","required":true,"schema":{"type":"string"}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSavedQueryReq"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleMessageRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"쿼리 정보를 찾을 수 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/query/{query-id}/abort":{"put":{"tags":["query-controller"],"summary":"실행중인 쿼리 중단","operationId":"abortQuery","parameters":[{"name":"query-id","in":"path","description":"query id","required":true,"schema":{"type":"string"}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleMessageRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"쿼리 정보 없음"},"406":{"description":"Not Acceptable"},"409":{"description":"쿼리가 이미 종료됨"}}}},"/v1/data-source/{data-source-name}":{"get":{"tags":["data-source-controller"],"summary":"data source 상세 조회","operationId":"getDataSource","parameters":[{"name":"data-source-name","in":"path","description":"데이터소스 이름","required":true,"schema":{"type":"string"}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataSourceDetailRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"데이터 소스 없음"},"406":{"description":"Not Acceptable"}}},"put":{"tags":["data-source-controller"],"summary":"데이터 소스 수정","operationId":"updateDataSource","parameters":[{"name":"data-source-name","in":"path","description":"data-source-name","required":true,"schema":{"type":"string"}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDataSourceReq"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleMessageRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"데이터 소스 없음"},"406":{"description":"Not Acceptable"}}},"delete":{"tags":["data-source-controller"],"summary":"데이터 소스 삭제","operationId":"deleteDataSourceAsync","parameters":[{"name":"data-source-name","in":"path","description":"data-source-name","required":true,"schema":{"type":"string"}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleMessageRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"데이터 소스 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/data-query/query/{query-id}/abort":{"put":{"tags":["open-api-controller"],"summary":"실행중인 쿼리 중단","operationId":"abortQuery_1","parameters":[{"name":"query-id","in":"path","description":"query id","required":true,"schema":{"type":"string"}},{"name":"credential-id","in":"header","description":"credential id","required":true,"schema":{"type":"string"}},{"name":"credential-secret","in":"header","description":"credential secret","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleMessageRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"쿼리 정보 없음"},"406":{"description":"Not Acceptable"},"409":{"description":"쿼리가 이미 종료됨"}}}},"/v1/storage":{"get":{"tags":["storage-controller"],"summary":"사용자별 스토리지 정보 조회","operationId":"getStorage","parameters":[{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StorageRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"설정한 스토리지 없음, 설정한 버킷을 찾을 수 없음"},"410":{"description":"설정된 스토리지의 버킷이 삭제됨"},"499":{"description":"서비스 에이전트가 해당 버킷에 필요한 권한이 없음"},"406":{"description":"Not Acceptable"}}},"post":{"tags":["storage-controller"],"summary":"사용자별 스토리지 정보 저장","operationId":"createStorage","parameters":[{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageReq"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleMessageRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"버킷을 찾을 수 없음"},"498":{"description":"유저가 해당 버킷에 필요한 권한이 없음"},"499":{"description":"서비스 에이전트가 해당 버킷에 필요한 권한이 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/start":{"get":{"tags":["auth-controller"],"summary":"서비스 시작하기 체크","operationId":"validateStart","parameters":[{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleMessageRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}},"post":{"tags":["auth-controller"],"summary":"서비스 시작하기","operationId":"start","parameters":[{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleMessageRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/saved-query":{"get":{"tags":["saved-query-controller"],"summary":"저장 쿼리 목록 조회","operationId":"getSavedQueryList","parameters":[{"name":"savedQueryId","in":"query","description":"검색할 쿼리 ID","required":false,"schema":{"type":"string","default":""}},{"name":"savedQueryTitle","in":"query","description":"검색할 쿼리문","required":false,"schema":{"type":"string","default":""}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageSavedQueryListRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}},"post":{"tags":["saved-query-controller"],"summary":"저장 쿼리 신규 생성","operationId":"createSavedQuery","parameters":[{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSavedQueryReq"}}},"required":true},"responses":{"202":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateSavedQueryRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"497":{"description":"사용자 쿼터 초과"},"406":{"description":"Not Acceptable"}}},"delete":{"tags":["saved-query-controller"],"summary":"저장 쿼리 삭제","operationId":"deleteSavedQuery","parameters":[{"name":"queryIds","in":"query","description":"삭제할 쿼리 ID","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleMessageRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/query":{"post":{"tags":["query-controller"],"summary":"쿼리 실행 후 결과를 오브젝트 스토리지에 저장","operationId":"executeQuery","parameters":[{"name":"x-data-source","in":"header","description":"선택한 데이터 소스 이름","required":false,"schema":{"type":"string","default":""}},{"name":"x-database","in":"header","description":"선택한 데이터베이스 이름","required":false,"schema":{"type":"string","default":""}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoQueryReq"}}},"required":true},"responses":{"202":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DoQueryRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"버킷을 찾을 수 없음"},"406":{"description":"Not Acceptable"},"499":{"description":"서비스 에이전트가 해당 버킷에 필요한 권한이 없음"}}}},"/v1/query-history/stage-view":{"post":{"tags":["query-history-controller"],"summary":"[테스트] 입력한 데이터의 그래프 데이터 생성","operationId":"getStageViewTest","parameters":[{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrinoQueryDetails"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StageView"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/query-history/node-view":{"post":{"tags":["query-history-controller"],"summary":"[테스트] 입력한 데이터의 그래프 데이터 생성","operationId":"getNodeViewTest","parameters":[{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrinoQueryDetails"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NodeView"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/metering/manual/process":{"post":{"tags":["metering-controller"],"summary":"미터링 데이터가 존재할 경우 프로세스만 수동 처리","operationId":"meteringManually","parameters":[{"name":"query-id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"쿼리 아이디에 해당하는 처리할 미터링 데이터가 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/metering/manual/build-and-process":{"post":{"tags":["metering-controller"],"summary":"미터링 데이터 db 적재 및 프로세스 수동 처리","operationId":"buildAndMeteringManually","parameters":[{"name":"query-id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"쿼리 아이디에 해당하는 처리할 미터링 데이터가 없음"},"409":{"description":"이미 적재된 쿼리"},"406":{"description":"Not Acceptable"}}}},"/v1/metering/batch/{base-time}":{"post":{"tags":["metering-controller"],"summary":"미터링 배치 처리할 때 k8s job 이 사용하는 엔드포인트","operationId":"meteringBatch","parameters":[{"name":"base-time","in":"path","description":"yyyyMMdd-hhmmss 형태로 입력. baseTime-5분 안에 종료된 쿼리의 미터링 데이터를 처리","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"쿼리 아이디에 해당하는 처리할 미터링 데이터가 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/data-source":{"get":{"tags":["data-source-controller"],"summary":"data source 목록 조회","operationId":"getDataSourceList","parameters":[{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DataSourceListProjection"}}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}},"post":{"tags":["data-source-controller"],"summary":"데이터 소스 등록","operationId":"createDataSourceAsync","parameters":[{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CreateIcebergDataSourceReq"},{"$ref":"#/components/schemas/CreateJdbcDataSourceReq"},{"$ref":"#/components/schemas/CreateStandardDataSourceReq"}]}}},"required":true},"responses":{"202":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleMessageRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"},"409":{"description":"데이터 소스 이름 중복"}}}},"/v1/data-source/jdbc/test-connection":{"post":{"tags":["data-source-controller"],"summary":"jdbc 커넥션 테스트","operationId":"testJdbcConnection","parameters":[{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JdbcConnectionReq"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleMessageRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"외부 인스턴스가 없음"},"424":{"description":"외부 인스턴스 커넥션 타임아웃"},"406":{"description":"Not Acceptable"}}}},"/v1/data-query/query":{"get":{"tags":["open-api-controller"],"summary":"query history 목록 조회","operationId":"getQueryHistoryList","parameters":[{"name":"queryId","in":"query","description":"검색할 쿼리 ID","required":false,"schema":{"type":"string","default":""}},{"name":"creatorName","in":"query","description":"검색할 쿼리 실행자 이름","required":false,"schema":{"type":"string","default":""}},{"name":"state","in":"query","description":"검색할 쿼리 상태","required":false,"schema":{"type":"array","default":[],"items":{"type":"string","enum":["QUEUED","STARTING","RUNNING","FINISHED","FAILED","ABORTED"]}}},{"name":"credential-id","in":"header","description":"credential id","required":true,"schema":{"type":"string"}},{"name":"credential-secret","in":"header","description":"credential secret","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageQueryHistoryListRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}},"post":{"tags":["open-api-controller"],"summary":"쿼리 실행 후 결과를 오브젝트 스토리지에 저장","operationId":"executeQuery_1","parameters":[{"name":"x-data-source","in":"header","description":"선택한 데이터 소스 이름","required":false,"schema":{"type":"string"}},{"name":"x-database","in":"header","description":"선택한 데이터베이스 이름","required":false,"schema":{"type":"string"}},{"name":"credential-id","in":"header","description":"credential id","required":true,"schema":{"type":"string"}},{"name":"credential-secret","in":"header","description":"credential secret","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoQueryReq"}}},"required":true},"responses":{"202":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DoQueryRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"버킷을 찾을 수 없음"},"406":{"description":"Not Acceptable"},"499":{"description":"서비스 에이전트가 해당 버킷에 필요한 권한이 없음"}}}},"/v1/data-query/data-source":{"get":{"tags":["open-api-controller"],"summary":"데이터 소스 목록 조회","operationId":"getDataSourceNameList","parameters":[{"name":"credential-id","in":"header","description":"credential id","required":true,"schema":{"type":"string"}},{"name":"credential-secret","in":"header","description":"credential secret","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DataSourceListProjection"}}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}},"post":{"tags":["open-api-controller"],"summary":"데이터 소스 등록","operationId":"createDataSourceAsync_1","parameters":[{"name":"credential-id","in":"header","description":"credential id","required":true,"schema":{"type":"string"}},{"name":"credential-secret","in":"header","description":"credential secret","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CreateIcebergDataSourceReq"},{"$ref":"#/components/schemas/CreateJdbcDataSourceReq"},{"$ref":"#/components/schemas/CreateStandardDataSourceReq"}]}}},"required":true},"responses":{"202":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleMessageRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"},"409":{"description":"데이터 소스 이름 중복"}}}},"/v1/admin/service-agent":{"post":{"tags":["admin-controller"],"summary":"서비스 에이전트의 app cred 가 없는 경우 생성","operationId":"createAppCredential","responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"string"}}}},"406":{"description":"Not Acceptable"}}}},"/v1/admin/saved-query/cleanup/{id}":{"post":{"tags":["admin-controller"],"summary":"프로젝트 혹은 도메인이 삭제된 저장 쿼리 삭제","operationId":"cleanupSavedQuery","parameters":[{"name":"id","in":"path","description":"도메인 아이디 혹은 프로젝트 아이디","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"string"}}}},"406":{"description":"Not Acceptable"}}}},"/v1/admin/query-history/hide-query-history":{"post":{"tags":["admin-controller"],"summary":"쿼리 히스토리 hide","operationId":"hideQueryHistory","responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"string"}}}},"406":{"description":"Not Acceptable"}}}},"/v1/admin/query-history/fill-query-history":{"post":{"tags":["admin-controller"],"summary":"쿼리 히스토리의 elapsedTime, inputDataSize 필드를 계산하여 저장","operationId":"fillQueryHistory","responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"string"}}}},"406":{"description":"Not Acceptable"}}}},"/v1/storage/{bucket-name}":{"get":{"tags":["storage-controller"],"summary":"입력한 버킷 권한 체크","operationId":"checkStorageAuth","parameters":[{"name":"bucket-name","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleMessageRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"버킷을 찾을 수 없음"},"498":{"description":"유저가 해당 버킷에 필요한 권한이 없음"},"499":{"description":"서비스 에이전트가 해당 버킷에 필요한 권한이 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/query/{query-id}":{"get":{"tags":["query-controller"],"summary":"query 결과 및 통계 조회","operationId":"getQueryResultAndStats","parameters":[{"name":"query-id","in":"path","description":"queryId","required":true,"schema":{"type":"string"}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":100,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QueryResultResPageable"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"쿼리 정보를 찾을 수 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/query-history":{"get":{"tags":["query-history-controller"],"summary":"query history 목록 조회","operationId":"getQueryHistoryList_1","parameters":[{"name":"queryId","in":"query","description":"검색할 쿼리 ID","required":false,"schema":{"type":"string","default":""}},{"name":"creatorName","in":"query","description":"검색할 쿼리 실행자 이름","required":false,"schema":{"type":"string","default":""}},{"name":"state","in":"query","description":"검색할 쿼리 상태","required":false,"schema":{"type":"array","default":[],"items":{"type":"string","enum":["QUEUED","STARTING","RUNNING","FINISHED","FAILED","ABORTED"]}}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageQueryHistoryListRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/query-history/{query-id}":{"get":{"tags":["query-history-controller"],"summary":"query history 상세 조회","operationId":"getQueryHistoryDetail","parameters":[{"name":"query-id","in":"path","description":"queryId","required":true,"schema":{"type":"string"}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QueryHistoryDetailRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"쿼리 정보 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/query-history/{query-id}/stage-view":{"get":{"tags":["query-history-controller"],"operationId":"getQueryStageView","parameters":[{"name":"query-id","in":"path","description":"queryId","required":true,"schema":{"type":"string"}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StageView"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"쿼리 정보 없음"},"410":{"description":"쿼리 뷰를 위한 백데이터 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/query-history/{query-id}/node-view":{"get":{"tags":["query-history-controller"],"operationId":"getQueryNodeView","parameters":[{"name":"query-id","in":"path","description":"queryId","required":true,"schema":{"type":"string"}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NodeView"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"쿼리 정보 없음"},"410":{"description":"쿼리 뷰를 위한 백데이터 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/public-key":{"get":{"tags":["auth-controller"],"summary":"public key 조회","operationId":"getPublicKey","parameters":[{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicKeyDto"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/groupprovider":{"get":{"tags":["group-provider-controller"],"summary":"group user 매핑 조회","operationId":"getGroupProvider","responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/data-source/{data-source-name}/test-connection":{"get":{"tags":["data-source-controller"],"summary":"jdbc 데이터소스의 커넥션 테스트","operationId":"checkJdbcDataSourceConnection","parameters":[{"name":"data-source-name","in":"path","description":"데이터소스 이름","required":true,"schema":{"type":"string"}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleMessageRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"데이터 소스 없음 or 외부 인스턴스 없음"},"424":{"description":"외부 인스턴스 커넥션 타임아웃"},"406":{"description":"Not Acceptable"}}}},"/v1/data-source/{data-source-name}/database":{"get":{"tags":["data-source-controller"],"summary":"데이터베이스(schema) 목록 조회","operationId":"getDatabaseList","parameters":[{"name":"data-source-name","in":"path","description":"데이터소스 이름","required":true,"schema":{"type":"string"}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"데이터 소스 없음"},"424":{"description":"외부 인스턴스 커넥션 타임아웃"},"406":{"description":"Not Acceptable"}}}},"/v1/data-source/{data-source-name}/database/{database-name}/table":{"get":{"tags":["data-source-controller"],"summary":"테이블, 컬럼 목록 조회","operationId":"getTableWithColumnList","parameters":[{"name":"data-source-name","in":"path","description":"데이터소스 이름","required":true,"schema":{"type":"string"}},{"name":"database-name","in":"path","description":"데이터베이스 이름","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"검색할 테이블 이름","required":false,"schema":{"type":"string","default":""}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageTableRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"데이터 소스, 데이터베이스 없음"},"424":{"description":"외부 인스턴스 커넥션 타임아웃"},"406":{"description":"Not Acceptable"}}}},"/v1/data-source/{data-source-name}/database/{database-name}/table/name":{"get":{"tags":["data-source-controller"],"summary":"테이블 이름 목록 조회","operationId":"getTableNameList","parameters":[{"name":"data-source-name","in":"path","description":"데이터소스 이름","required":true,"schema":{"type":"string"}},{"name":"database-name","in":"path","description":"데이터베이스 이름","required":true,"schema":{"type":"string"}},{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"데이터 소스, 데이터베이스 없음"},"424":{"description":"외부 인스턴스 커넥션 타임아웃"},"406":{"description":"Not Acceptable"}}}},"/v1/data-source/type":{"get":{"tags":["data-source-controller"],"summary":"생성 가능한 데이터 소스 타입 조회","operationId":"getUserCreatableDataSourceTypes","parameters":[{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["standard","iceberg","mysql","postgresql"]}}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/data-source/postgresql":{"get":{"tags":["data-source-controller"],"summary":"postgresql 인스턴스 목록 조회","operationId":"getPostgresqlInstanceGroupList","parameters":[{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InstanceRes"}}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/data-source/mysql":{"get":{"tags":["data-source-controller"],"summary":"mysql 인스턴스 목록 조회","operationId":"getMySqlInstanceList","parameters":[{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InstanceRes"}}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/data-query/query/{query-id}":{"get":{"tags":["open-api-controller"],"summary":"query 결과 및 통계 상세 조회","operationId":"getQueryResultAndStats_1","parameters":[{"name":"query-id","in":"path","description":"queryId","required":true,"schema":{"type":"string"}},{"name":"credential-id","in":"header","description":"credential id","required":true,"schema":{"type":"string"}},{"name":"credential-secret","in":"header","description":"credential secret","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":100,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QueryResultResPageable"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"쿼리 정보 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/data-query/data-source/{data-source-name}/database":{"get":{"tags":["open-api-data-source-controller"],"summary":"데이터베이스(schema) 목록 조회","operationId":"getDatabaseList_1","parameters":[{"name":"data-source-name","in":"path","description":"데이터소스 이름","required":true,"schema":{"type":"string"}},{"name":"credential-id","in":"header","description":"credential id","required":true,"schema":{"type":"string"}},{"name":"credential-secret","in":"header","description":"credential secret","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"데이터 소스 없음"},"406":{"description":"Not Acceptable"},"424":{"description":"외부 인스턴스 커넥션 타임아웃"}}}},"/v1/data-query/data-source/{data-source-name}/database/{database-name}/table":{"get":{"tags":["open-api-data-source-controller"],"summary":"테이블, 컬럼 목록 조회","operationId":"getTableWithColumnList_1","parameters":[{"name":"data-source-name","in":"path","description":"데이터소스 이름","required":true,"schema":{"type":"string"}},{"name":"database-name","in":"path","description":"데이터베이스 이름","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"검색할 테이블 이름","required":false,"schema":{"type":"string","default":""}},{"name":"credential-id","in":"header","description":"credential id","required":true,"schema":{"type":"string"}},{"name":"credential-secret","in":"header","description":"credential secret","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageTableRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"데이터 소스, 데이터베이스 없음"},"406":{"description":"Not Acceptable"},"424":{"description":"외부 인스턴스 커넥션 타임아웃"}}}},"/v1/data-query/data-source/{data-source-name}/database/{database-name}/table/name":{"get":{"tags":["open-api-data-source-controller"],"summary":"테이블 이름 목록 조회","operationId":"getTableNameList_1","parameters":[{"name":"data-source-name","in":"path","description":"데이터소스 이름","required":true,"schema":{"type":"string"}},{"name":"database-name","in":"path","description":"데이터베이스 이름","required":true,"schema":{"type":"string"}},{"name":"credential-id","in":"header","description":"credential id","required":true,"schema":{"type":"string"}},{"name":"credential-secret","in":"header","description":"credential secret","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"데이터 소스, 데이터베이스 없음"},"406":{"description":"Not Acceptable"},"424":{"description":"외부 인스턴스 커넥션 타임아웃"}}}},"/v1/dashboard":{"get":{"tags":["dashboard-controller"],"summary":"query 결과 및 통계 조회","operationId":"getDashboard","parameters":[{"name":"x-auth-token","in":"header","description":"사용자의 x-auth-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DashboardRes"}}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/admin/query/{queryId}/metadata":{"get":{"tags":["admin-controller"],"summary":"쿼리 메타데이터 조회","operationId":"getQueryMetaInfo","parameters":[{"name":"queryId","in":"path","description":"쿼리 아이디","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QueryMetaInfo"}}}},"404":{"description":"Not Found"}}}},"/v1/accesscontrol/rules":{"get":{"tags":["access-control-controller"],"summary":"access control rules 조회","operationId":"getAccessRules","responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Rules"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/data-query/data-source/{data-source-name}":{"delete":{"tags":["open-api-controller"],"summary":"데이터 소스 삭제","operationId":"deleteDataSourceAsync_1","parameters":[{"name":"data-source-name","in":"path","description":"data-source-name","required":true,"schema":{"type":"string"}},{"name":"credential-id","in":"header","description":"credential id","required":true,"schema":{"type":"string"}},{"name":"credential-secret","in":"header","description":"credential secret","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleMessageRes"}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 실패"},"403":{"description":"권한 없음"},"404":{"description":"데이터 소스 없음"},"406":{"description":"Not Acceptable"}}}},"/v1/admin/query-history/delete-expire-data":{"delete":{"tags":["admin-controller"],"summary":"삭제 기간이 지난 데이터 삭제","operationId":"deleteExpireData","responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"string"}}}},"406":{"description":"Not Acceptable"}}}},"/v1/admin/data-source/{data-source-name}":{"delete":{"tags":["admin-controller"],"summary":"데이터 소스 삭제","operationId":"deleteDataSourceAndDataSourceRule","parameters":[{"name":"data-source-name","in":"path","required":true,"schema":{"type":"string"}},{"name":"credential-id","in":"header","description":"credential id","required":true,"schema":{"type":"string"}},{"name":"credential-secret","in":"header","description":"credential secret","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleMessageRes"}}}},"406":{"description":"Not Acceptable"}}}}},"components":{"schemas":{"UpdateSavedQueryReq":{"type":"object","properties":{"savedQueryTitle":{"type":"string","pattern":"^[^/]{1,64}$"},"savedQueryText":{"type":"string"},"description":{"type":"string","pattern":"(?s)^.{0,130}$"}}},"SimpleMessageRes":{"type":"object","properties":{"message":{"type":"string"}}},"UpdateDataSourceReq":{"type":"object","properties":{"description":{"type":"string"},"scope":{"type":"string","enum":["NONE","PUBLIC","PRIVATE"]}}},"ResultConfig":{"type":"object","properties":{"bucketName":{"type":"string","minLength":1},"path":{"type":"string","pattern":"^(?!/)(.*?)(?<!/)$"},"storageUrl":{"type":"string","readOnly":true},"bucketAndPath":{"type":"string","readOnly":true},"storeType":{"type":"string","enum":["NONE","BASIC","TEXT"],"readOnly":true},"isStored":{"type":"boolean","readOnly":true}},"required":["path"]},"StorageReq":{"type":"object","properties":{"resultConfig":{"$ref":"#/components/schemas/ResultConfig"}},"required":["resultConfig"]},"CreateSavedQueryReq":{"type":"object","properties":{"savedQueryTitle":{"type":"string","minLength":1,"pattern":"^[^/]{1,64}$"},"savedQueryText":{"type":"string","minLength":1},"description":{"type":"string","pattern":"(?s)^.{0,130}$"}}},"CreateSavedQueryRes":{"type":"object","properties":{"savedQueryId":{"type":"string"}}},"DoQueryReq":{"type":"object","properties":{"query":{"type":"string","minLength":1},"resultConfig":{"$ref":"#/components/schemas/ResultConfig"},"reuseConfig":{"$ref":"#/components/schemas/ReuseConfig"}}},"ReuseConfig":{"type":"object","properties":{"reuse":{"type":"boolean"},"maxReuseAge":{"type":"integer","format":"int32"}},"required":["reuse"]},"DoQueryRes":{"type":"object","properties":{"queryInfo":{"$ref":"#/components/schemas/QueryInfo"}}},"QueryInfo":{"type":"object","properties":{"queryId":{"type":"string"},"originQueryId":{"type":"string"},"state":{"type":"string","enum":["QUEUED","STARTING","RUNNING","FINISHED","FAILED","ABORTED"]},"queryStats":{"$ref":"#/components/schemas/QueryStats"},"queryTextPreview":{"type":"string"},"query":{"type":"string"},"errorMessage":{"type":"string"},"isScanned":{"type":"boolean"}}},"QueryStats":{"type":"object","properties":{"progressPercentage":{"type":"number","format":"double"},"scannedDataSize":{"type":"string"},"inputRows":{"type":"integer","format":"int64"},"inputDataSize":{"type":"string"},"outputRows":{"type":"integer","format":"int64"},"outputDataSize":{"type":"string"},"createdAt":{"type":"integer","format":"int64"},"completedAt":{"type":"integer","format":"int64"},"queryExecutionTime":{"type":"string"},"elapsedTime":{"type":"string"},"queuedTime":{"type":"string"},"planningTime":{"type":"string"}}},"Descriptor":{"type":"object","properties":{"descriptorMap":{"type":"object","additionalProperties":{"type":"object"}}}},"Input":{"type":"object","properties":{"connectorName":{"type":"string"},"schema":{"type":"string"},"table":{"type":"string"}}},"Node":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"descriptor":{"$ref":"#/components/schemas/Descriptor"},"children":{"type":"array","items":{"$ref":"#/components/schemas/Node"}},"sourceFragmentIds":{"type":"array","items":{"type":"string"}}}},"OperatorStats":{"type":"object","properties":{"stageId":{"type":"integer","format":"int32"},"pipelinedId":{"type":"integer","format":"int32"},"operatorId":{"type":"integer","format":"int32"},"planNodeId":{"type":"integer","format":"int32"},"operatorType":{"type":"string"},"inputPositions":{"type":"integer","format":"int64"},"inputDataSize":{"type":"string"},"physicalInputDataSize":{"type":"string"},"physicalInputPositions":{"type":"string"},"addInputWall":{"type":"string"},"getOutputWall":{"type":"string"},"finishWall":{"type":"string"},"blockedWall":{"type":"string"},"totalDrivers":{"type":"integer","format":"int32"},"totalWallTime":{"type":"integer","format":"int64"},"byteInputRate":{"type":"number","format":"double"},"rowInputRate":{"type":"number","format":"double"},"totalCpuTime":{"type":"number","format":"double"}}},"Plan":{"type":"object","properties":{"id":{"type":"string"},"root":{"$ref":"#/components/schemas/Root"},"jsonRepresentation":{"type":"string"},"node":{"$ref":"#/components/schemas/Node"}}},"Root":{"type":"object","properties":{"id":{"type":"string"}}},"Stage":{"type":"object","properties":{"stageId":{"type":"string"},"state":{"type":"string","enum":["PLANNED","SCHEDULING","RUNNING","PENDING","FINISHED","ABORTED","FAILED","STARTING"]},"plan":{"$ref":"#/components/schemas/Plan"},"stageStats":{"$ref":"#/components/schemas/StageStats"},"subStages":{"type":"array","items":{"$ref":"#/components/schemas/Stage"}},"tables":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Table"}}}},"StageStats":{"type":"object","properties":{"operatorSummaries":{"type":"array","items":{"$ref":"#/components/schemas/OperatorStats"}},"totalCpuTime":{"type":"string"},"bufferedDataSize":{"type":"string"},"totalBlockedTime":{"type":"string"},"userMemoryReservation":{"type":"string"},"queuedDrivers":{"type":"integer","format":"int32"},"runningDrivers":{"type":"integer","format":"int32"},"completedDrivers":{"type":"integer","format":"int32"},"rawInputDataSize":{"type":"string"},"rawInputPositions":{"type":"integer","format":"int64"},"outputDataSize":{"type":"string"},"outputPositions":{"type":"integer","format":"int64"},"totalWallTime":{"type":"string"}}},"Table":{"type":"object","properties":{"connectorName":{"type":"string"},"tableName":{"type":"string"}}},"TrinoQueryDetails":{"type":"object","properties":{"queryId":{"type":"string"},"progressPercentage":{"type":"number","format":"double"},"query":{"type":"string"},"outputStage":{"$ref":"#/components/schemas/Stage"},"queryStats":{"$ref":"#/components/schemas/QueryStats"},"retryPolicy":{"type":"string"},"inputs":{"type":"array","items":{"$ref":"#/components/schemas/Input"}},"scannedBytesMap":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}},"state":{"type":"string","enum":["QUEUED","WAITING_FOR_RESOURCES","DISPATCHING","PLANNING","STARTING","RUNNING","FINISHING","FINISHED","FAILED"]}}},"Edge":{"type":"object","properties":{"id":{"type":"string"},"from":{"type":"string"},"to":{"type":"string"},"parent":{"type":"string"},"text":{"type":"string"}}},"StageView":{"type":"object","properties":{"progressPercentage":{"type":"number","format":"double"},"stages":{"type":"array","items":{"$ref":"#/components/schemas/Stage"}},"edges":{"type":"array","items":{"$ref":"#/components/schemas/Edge"}}}},"NodeView":{"type":"object","properties":{"progressPercentage":{"type":"number","format":"double"},"stages":{"type":"array","items":{"$ref":"#/components/schemas/Stage"}},"edges":{"type":"array","items":{"$ref":"#/components/schemas/Edge"}},"nodes":{"type":"array","items":{"$ref":"#/components/schemas/Node"}}}},"CreateDataSourceReq":{"type":"object","discriminator":{"propertyName":"type"},"properties":{"type":{"type":"string","enum":["standard","iceberg","mysql","postgresql"]},"name":{"type":"string","minLength":1,"pattern":"^[a-z][a-z0-9_]{1,70}[a-z0-9]$"},"description":{"type":"string"}},"required":["type"]},"CreateIcebergDataSourceReq":{"allOf":[{"$ref":"#/components/schemas/CreateDataSourceReq"},{"type":"object","properties":{"catalogId":{"type":"string","minLength":1},"url":{"type":"string"}}}],"required":["type","url"]},"CreateJdbcDataSourceReq":{"allOf":[{"$ref":"#/components/schemas/CreateDataSourceReq"},{"type":"object","properties":{"instanceId":{"type":"string","minLength":1},"username":{"type":"string","minLength":1},"password":{"type":"string","minLength":1},"databaseName":{"type":"string"},"scope":{"type":"string","enum":["NONE","PUBLIC","PRIVATE"]}}}],"required":["scope","type"]},"CreateStandardDataSourceReq":{"allOf":[{"$ref":"#/components/schemas/CreateDataSourceReq"},{"type":"object","properties":{"catalogId":{"type":"string","minLength":1},"metastoreUrl":{"type":"string"},"managedMetastoreUrl":{"type":"string"},"subnetId":{"type":"string"},"vpcId":{"type":"string"}}}],"required":["managedMetastoreUrl","metastoreUrl","subnetId","type","vpcId"]},"JdbcConnectionReq":{"type":"object","properties":{"type":{"type":"string","enum":["standard","iceberg","mysql","postgresql"]},"instanceId":{"type":"string","minLength":1},"databaseName":{"type":"string"},"username":{"type":"string","minLength":1},"password":{"type":"string","minLength":1}},"required":["type"]},"StorageRes":{"type":"object","properties":{"resultConfig":{"$ref":"#/components/schemas/ResultConfig"}}},"PageSavedQueryListRes":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/SavedQueryListRes"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"unpaged":{"type":"boolean"},"paged":{"type":"boolean"},"pageSize":{"type":"integer","format":"int32"},"pageNumber":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"}}},"SavedQueryListRes":{"type":"object","properties":{"savedQueryId":{"type":"string"},"savedQueryTitle":{"type":"string"},"savedQueryTextPreview":{"type":"string"},"creatorName":{"type":"string"},"createdAt":{"type":"integer","format":"int64"},"description":{"type":"string"}}},"SortObject":{"type":"object","properties":{"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"},"empty":{"type":"boolean"}}},"SavedQueryRes":{"type":"object","properties":{"savedQueryId":{"type":"string"},"savedQueryTitle":{"type":"string"},"savedQueryText":{"type":"string"}}},"QueryResultResPageable":{"type":"object","properties":{"queryInfo":{"$ref":"#/components/schemas/QueryInfo"},"resultConfig":{"$ref":"#/components/schemas/ResultConfig"},"reuseConfig":{"$ref":"#/components/schemas/ReuseConfig"},"columnData":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}},"queryData":{"type":"array","items":{"type":"array","items":{"type":"string"}}},"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"number":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int64"}}},"PageQueryHistoryListRes":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/QueryHistoryListRes"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"QueryHistoryListRes":{"type":"object","properties":{"queryInfo":{"$ref":"#/components/schemas/QueryInfo"},"resultConfig":{"$ref":"#/components/schemas/ResultConfig"},"reuseConfig":{"$ref":"#/components/schemas/ReuseConfig"},"creatorName":{"type":"string"}}},"QueryHistoryDetailRes":{"type":"object","properties":{"queryInfo":{"$ref":"#/components/schemas/QueryInfo"},"resultConfig":{"$ref":"#/components/schemas/ResultConfig"},"reuseConfig":{"$ref":"#/components/schemas/ReuseConfig"},"creatorName":{"type":"string"}}},"PublicKeyDto":{"type":"object","properties":{"publicKey":{"type":"string"}}},"DataSourceListProjection":{"type":"object","properties":{"creatorName":{"type":"string"},"description":{"type":"string"},"scope":{"type":"string"},"type":{"type":"string","enum":["standard","iceberg","mysql","postgresql"]},"name":{"type":"string"}}},"DataSourceDetailRes":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string","enum":["standard","iceberg","mysql","postgresql"]},"scope":{"type":"string","enum":["NONE","PUBLIC","PRIVATE"]},"creatorName":{"type":"string"},"objectId":{"type":"string"},"databaseName":{"type":"string"},"userId":{"type":"string"},"description":{"type":"string"},"createdAt":{"type":"integer","format":"int64"}}},"Column":{"type":"object","properties":{"name":{"type":"string"},"typeName":{"type":"string"},"integerIndex":{"type":"integer","format":"int32"},"isColumn":{"type":"boolean"},"comment":{"type":"string"}}},"PageTableRes":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/TableRes"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"TableRes":{"type":"object","properties":{"type":{"type":"string"},"name":{"type":"string"},"partitioned":{"type":"boolean"},"columns":{"type":"array","items":{"$ref":"#/components/schemas/Column"}}}},"InstanceRes":{"type":"object","properties":{"instanceId":{"type":"string"},"name":{"type":"string"},"status":{"type":"string"}}},"DashboardRes":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"integer","format":"int32"},"unit":{"type":"string"}}},"ColumnInfo":{"type":"object","properties":{"index":{"type":"integer","format":"int32"},"name":{"type":"string"},"type":{"type":"string"}}},"PageEntry":{"type":"object","properties":{"pageNumber":{"type":"integer","format":"int32"},"startOffset":{"type":"integer","format":"int64"},"endOffset":{"type":"integer","format":"int64"},"rowCount":{"type":"integer","format":"int32"}}},"PageIndex":{"type":"object","properties":{"pages":{"type":"array","items":{"$ref":"#/components/schemas/PageEntry"}},"columns":{"type":"array","items":{"$ref":"#/components/schemas/ColumnInfo"}},"totalRows":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"csvFileSize":{"type":"integer","format":"int64"},"headerOffset":{"type":"integer","format":"int64"},"createdAt":{"type":"integer","format":"int64"}}},"QueryMetaInfo":{"type":"object","properties":{"queryId":{"type":"string"},"executionId":{"type":"string"},"projectId":{"type":"string"},"queryTextHash":{"type":"string"},"creatorName":{"type":"string"},"reuse":{"type":"boolean"},"maxReuseAge":{"type":"integer","format":"int32"},"createdAt":{"type":"integer","format":"int64"},"storeType":{"type":"string","enum":["NONE","BASIC","TEXT"]},"pageIndex":{"$ref":"#/components/schemas/PageIndex"},"stochastic":{"type":"boolean"}}},"DataSourceRuleProjection":{"type":"object","properties":{"allow":{"type":"string"},"catalog":{"type":"string"},"user":{"type":"string"},"role":{"type":"string"},"group":{"type":"string"}}},"ProcedureRuleProjection":{"type":"object","properties":{"privileges":{"type":"array","items":{"type":"string"}},"catalog":{"type":"string"},"user":{"type":"string"},"group":{"type":"string"},"schema":{"type":"string"}}},"Rules":{"type":"object","properties":{"catalogs":{"type":"array","items":{"$ref":"#/components/schemas/DataSourceRuleProjection"}},"system_information":{"type":"array","items":{"$ref":"#/components/schemas/SystemRuleProjection"}},"procedures":{"type":"array","items":{"$ref":"#/components/schemas/ProcedureRuleProjection"}}}},"SystemRuleProjection":{"type":"object","properties":{"allow":{"type":"array","items":{"type":"string"}},"user":{"type":"string"},"role":{"type":"string"}}}}}}